// ************************************************************
// base
// ************************************************************

body {
    background: backgrounds(default);
    color: text_color(primary);
    font: $font_size $font_family;
}
a {
    color: inherit;
    text-decoration: none;
}

button,
input,
select,
td,
textarea {
    font: $font_size_small $font_family;
    padding: 0;
}

input[type*="checkbox"] {
    margin: 0;
}

input::-ms-clear,
input::-ms-reveal {
    display: none;
}

h1 {
    padding: 20px;
    color: text_color(accent);
    font-size: $font_size_xlarge;
    font-weight: bold;
    text-transform: uppercase;
    & span {
        color: text_color(secondary);
        float: right;
        text-transform: none;
    }
    & ~ h1 {
        padding-top: 50px;
    }
}

h2 {
    color: text_color(secondary);
    font-size: $font_size_large;
    font-weight: bold;
}

hr {
    border: none;
    background: $color_secondary_heavy;
    color: transparent;
    height: 1px;
}

strong {
    color: text_color(accent);
    padding: 0 5px;
}





