// ************************************************************
// c_grid--mishi
// ************************************************************
@import '~@CSS/Setting/s_language';

$t_color: #29ABE2;
$r_color: #22B573;
$b_color: #FF7BAC;
$l_color: #F7931E;

.gr_container__mishi {
    .c_h-game-grid__cont {
        max-width: 960px;
        height: 615px;
        position: relative;
        line-height: 0px;
        background-image: url('~@IMG/game/PK10_SIN/mishi/mishi_bg.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        svg {
            width: 100%;
            position: relative;
            .mishi_bg--shape {
                fill:rgba(0, 0, 0, 0);
                stroke:#ffffff;
                stroke-width:2;
                stroke-linecap:round;
                stroke-linejoin:round;
                stroke-miterlimit:10;
                transition: all 0.4s;
            }
            &.mishi_bg--svg {
            }
            &.mishi_bg--svgBg {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        .mishi__bet {
            width: 490px;
            position: absolute;
            left: 50%;
            bottom: 76px;
            transform: translateX(-50%);
            [class*="mishi__"] {
                position: relative;
            }
            [class*="mishi__img"] {
                position: absolute;
                z-index: 1;
                img {
                    width: 100%;
                }
            }
            .mishi__img1 {bottom: -76px;left: -243px;width: 290px; z-index: 0;}
            .mishi__img2 {top: -19%; left: -2%; z-index: 3;}
            .mishi__img3 {top: -19%; right: -4%; z-index: 3;}
            .mishi__img4 {bottom: -76px; right: -217px;}
            .mishi__txt {
                position: absolute;
                z-index: 1;
                [class*="mishi__txt_"] {
                    display: block;
                    line-height: 20px;
                    float: left;
                    width: 100%;
                }
                .mishi__txt_title {
                    font-size: 28px;
                    @include multi-lang {
                        font-size: 20px;
                    }
                }
                .mishi__txt_odds {
                    font-size: 14px;
                    color: #ffffff;
                    margin: 5px 0 3px;
                }
                .mishi__txt_input {
                    input {
                        border: 1px solid #fbb03b;
                        background-color: #000000;
                        color: #fbb03b;
                        text-align: center;
                        width: 50px;
                        padding: 2px 5px;
                        border-radius: 3px;
                    }
                }
            }
            .mishi__banker {
                width: 100%;
                height: 71px;
                margin-bottom: 7px;
                color: #fbb1a7;
                .mishi__txt {
                    // position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, 0%);
                    .mishi__txt_title {
                        font-size: 36px;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
            [class*="mishi__player"] {
                width: calc(100% / 3 - 1%);
                height: 203px;
                float: left;
                box-sizing: border-box;
                .mishi__txt {
                    top: 50%;
                    transform: translateY(-82%);
                    width: 62%;
                    @include multi-lang('vn') {
                        width: 80%;
                    }
                }
                &.is_strong {
                    // 超過投注限額
                    color: #CE202D;
                    svg {
                        .mishi_bg--shape {
                            stroke:#ff99ff;
                            stroke-width:2px;
                        }
                    }
                }
                &.text_color_strong {
                    // 賠率更新
                    .mishi__txt {
                        .mishi__txt_odds {
                            color: #CE202D;
                        }
                    }
                }
                @keyframes draw {
                    0% {
                        stroke-dashoffset: 0;
                        stroke:rgba(255, 255, 255, 0.5);
                        stroke-dasharray: 170;
                    }
                    20% {
                        stroke-dashoffset: 450;
                        stroke:#ffffff;
                        stroke-dasharray: 170;
                    }
                    100% {
                        stroke-dashoffset: 900;
                        stroke:rgba(255, 255, 255, 0.5);
                        stroke-dasharray: 170;
                    }
                }
                &:hover {
                    svg {
                        filter: drop-shadow(0px 0px 8px #6cf8ff);
                        .mishi_bg--shape {
                            stroke:#00FFFF;
                            stroke-width: 4;
                            cursor: pointer;
                        }
                        & ~ svg {
                            // 動畫
                            filter: drop-shadow(0px 0px 8px #ffffff);
                            .mishi_bg--shape {
                                animation: draw 2s linear infinite;
                                stroke-width: 4;
                                cursor: pointer;
                            }
                        }
                    }
                }
                &[disabled] {
                    // 停售
                    &::before {
                        content: '';
                        background: transparent;
                        width: 100%;
                        height: 100%;
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 2;
                    }
                    svg, svg:hover {
                        filter:drop-shadow(0px 0px 8px transparent);
                        z-index: 1;
                        .mishi_bg--shape {
                            cursor: context-menu;
                            fill:rgba(0, 0, 0, 0.5);
                            stroke:#e7e7e7;
                            stroke-width:2px;
                        }
                        & ~ svg {
                            // 動畫
                            filter: drop-shadow(0px 0px 8px #ffffff);
                            .mishi_bg--shape {
                                stroke-dasharray: 0;
                                fill: transparent;
                                animation: none;
                                stroke:#e7e7e7;
                                stroke-width: 2px;
                            }
                        }
                    }
                }
            }
            .mishi__player1 {
                height: 184px;
                margin-right: 1%;
                color: #88cffd;
                .mishi__txt {
                    right: 7px;
                    .mishi__txt_odds, .mishi__txt_input {
                        @include multi-lang {
                            padding-left: 18%;
                        }
                    }
                }
            }
            .mishi__player2 {
                width: calc(100% / 3 - 3.1%);
                margin: 0 1.5%;
                color: #ffe661;
                .mishi__txt {
                    left: 50%;
                    transform: translate(-50%, -95%);
                }
            }
            .mishi__player3 {
                height: 184px;
                margin-left: 1%;
                color: #97dec1;
                .mishi__txt {
                    left: 7px;
                    .mishi__txt_odds, .mishi__txt_input {
                        @include multi-lang {
                            padding-right: 18%;
                        }
                    }
                }
            }
            .is_strong {
                color: #ff99ff;
            }
        }
    }
}

@media screen and (max-width: 979px) {
    .gr_container__mishi {
        padding-bottom: 179px;
        .c_h-game-grid__cont {
            max-width: 100%;
            height: auto;
            background-size: 145% auto;
            padding-bottom: 86%;
            .mishi__bet {
                width: 76%;
                bottom: 8.5%;
                .mishi__banker {
                    height: 0;
                    padding-bottom: 14.5%;
                    svg {
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                }
                [class*="mishi__player"] {
                    height: 0;
                    padding-bottom: 41.5%;
                    .mishi__txt {
                        width: 65%;
                        @include multi-lang('vn') {
                            width: 60%;
                            top: 45%;
                        }
                        .mishi__txt_title {
                            @include multi-lang {
                                margin: 0 auto;
                                float: none;
                                line-height: 22px;
                            }
                            @include multi-lang('vn') {
                                width: 70%;
                            }
                        }
                        .mishi__txt_input {
                            top: -5px;
                            position: absolute;
                            transform: translateY(-100%);
                            @include multi-lang {
                                top: 0;
                            }
                        }
                    }
                }
                .mishi__player2 {
                    .mishi__txt {
                        transform: translate(-50%, -58%);
                        width: 67%;
                        @include multi-lang('vn') {
                            width: 63%;
                        }
                    }
                }
                .mishi__player1, .mishi__player3 {
                    padding-bottom: 38%;
                    .mishi__txt {
                        transform: translateY(-45%);
                        .mishi__txt_odds, .mishi__txt_input {
                            @include multi-lang {
                                padding: 0;
                            }
                        }
                    }
                }
                .mishi__img1, .mishi__img4 {
                    display: none;
                }
                .mishi__img2 {
                    max-width: 15%;
                }
                .mishi__img3 {
                    max-width: 20%;
                }

            }
        }
    }
}

@media screen and (max-width: 570px) {
    .gr_container__mishi {
        .c_h-game-grid__cont {
            .mishi__bet {
                width: 74%;
                bottom: 9%;
                .mishi__banker {
                    .mishi__txt {
                        .mishi__txt_title {
                            font-size: 18px;
                        }
                    }
                }
                .mishi__txt {
                    // .mishi__txt_title {
                    //     width: 68%;
                    // }
                    .mishi__txt_odds {
                        margin: 0;
                        line-height: 12px;
                    }
                    .mishi__txt_input {
                        line-height: 14px;
                        input {
                            width: 44px;
                            padding: 1px;
                            @include multi-lang {
                                padding: 0;
                                width: 40px;
                            }
                        }
                    }
                }
                [class*="mishi__player"] {
                    .mishi__txt {
                        @include multi-lang('vn') {
                            width: 57%;
                        }
                        .mishi__txt_title {
                            // width: 68%;
                        }
                        .mishi__txt_input {
                            top: 0px;
                        }
                        .mishi__txt_title {
                            font-size: 16px;
                            @include multi-lang {
                                font-size: 12px;
                                line-height: 12px;
                            }
                            @include multi-lang('vn') {
                                width: 77%;
                            }
                        }
                    }
                }
                .mishi__player1 .mishi__txt {
                    right: 2px;
                    @include multi-lang {
                        
                    }
                }
                .mishi__player2 .mishi__txt {
                    width: 70%;
                    @include multi-lang('vn') {
                        transform: translate(-50%, -50%);
                        width: 61%;
                    }
                }
                .mishi__player3 .mishi__txt {
                    left: 2px;
                    @include multi-lang {
                        
                    }
                }
            }
        }
    }
}