// ************************************************************
// c_grid-toggle
// ************************************************************

.c_h-game-grid__toggle {
    @include background_gradient(false, -20deg, #ffffff 20%, #b2b2b2);
    @include size(85px, 30px);
    border-radius: 15px;
    color: text_color(default_invert);
    cursor: pointer;
    float: right;
    font-size: 0;
    height: 30px;
    line-height: 30px;
    margin: 7px 0;
    position: relative;
    text-align: center;
    user-select: none;
    & .c_toggle__inner {
        @include size(calc(100% - 10px), 20px);
        background-color: #8cc63f;
        border-radius: inherit;
        line-height: 20px;
        margin: 5px auto;
        position: relative;
        transition: all 0.3s ease;
        z-index: 2;
    }
    & .c_toggle__text {
        display: inline-block;
        font-size: $font_size_small;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        &.general,&.fast{
            position: absolute;
            line-height: 18px;
        }
        &.general{
            color:#8cc63f;
            z-index: 1;
        }
        &.fast{
            z-index: -1;
        }
    }
    & .c_toggle__button {
        @include background_gradient(true, -20deg, #ababab, #ffffff);
        @include size(55%, 100%);
        border-radius: inherit;
        box-shadow: 3px 3px 3px shadow_color(light);
        line-height: 0;
        padding: 5px 2px;
        position: relative;
        top: 0;
        left: 0;
        transition: all 0.3s ease;
        &::after {
            @include background_gradient(true, -75deg, #d9d9d9, #ffffff);
            @include pseudo;
            @include size(calc(100% - 2px));
            border-radius: inherit;
            top: 1px;
            left: 1px;
        }
    }
    & .c_button__dot {
        @include background_gradient(true, -20deg, #ababab, #ffffff);
        @include circle(4px);
        display: inline-block;
        margin: 0 2px 2px;
        position: relative;
        z-index: 5;
        &::after {
            @include background_gradient(true, -20deg, #c7c7c7, #f2f2f2);
            @include pseudo;
            @include circle(calc(100% - 2px));
            top: 1px;
            left: 1px;
        }
        @include multi-lang("cn") {
            &:nth-of-type(8) ~ .c_button__dot {
                display: none;
            }
        }
    }
    &::after {
        @include background_gradient(true, -75deg, #cccccc, #b3b3b3);
        @include pseudo;
        @include size(calc(100% - 8px), 22px);
        border-radius: 15px;
        top: 4px;
        left: 4px;
    }
    &.is_active {
        & .c_toggle__inner {
            background-color: #fbb03b;
        }
        & .c_toggle__text {
            &.fast{
                color:#fbb03b;
                z-index: 1;
            }
            &.general{
                z-index: -1;
            }
        }
        & .c_toggle__button {
            transform: translateX(84%);    
        }
    }
    @include multi-lang {
        width: 110px;
    }
}