// ************************************************************
// _c_grid--gameScore
// ************************************************************
.gameScore-warp {
    margin: 0 10px;
    border: 1px solid #808080;
    background: #4d4d4d;
    height: 153px;
    .table {
        overflow: hidden;
        display: inline-block;
        padding: 0;
        margin: 0;
        background-color: #f2f2f2;
        position: relative;
        & .title {
            background: #666666;
            color: #ffffff;
            padding: 6px;
            height: 31px;
        }
        & .body {
            position: relative;
            cursor: move;
        }
        & .col {
            display: inline-block;
            vertical-align: middle;
            width: 20px;
        }
        & .grid {
            height: 20px;
            line-height: 16px;
            text-align: center;
            border-right: 1px solid #d7d7d7;
            border-bottom: 1px solid #d7d7d7;
        }
        & .ball {
            text-align: center;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: #5ac49f;
            color: #666666;
            line-height: 16px;
            text-align: center;
            display: inline-block;
            vertical-align: middle;
            color: #000;
        }
    }
    
    .tabs {
        display: inline-block;
        position: relative;
        ul {
            background: #666666;
            color: #ffffff;
            height: 31px;
        }
        li {
            display: inline-block;
            padding: 5px 20px;
            cursor: pointer;
            &.is_active {
                color: #fcee21;
                border-bottom: 2px solid #666666;
            }
        }
        .table {
            width: 754px !important;
        }
    }
}
.c_header__arrow {
    height: 31px;
    width: 29px;
    position: absolute;
    right: 25px;
    top: 0;
    text-align: center;
    &:hover {
        cursor: pointer;
    }
    &::after {
        content: "";
        width: 16px;
        height: 16px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50px;
        background-color: #e6e6e6;
    }
    &::before {
        content: "";
        transform: rotate(45deg);
        border: solid currentColor;
        border-width: 0 0 2.5px 2.5px;
        padding: 2.5px;
        top: 50%;
        left: 50%;
        width: 8px;
        height: 8px;
        position: absolute;
        transform: translate(-50%, -50%) rotate(45deg);
        z-index: 1;
    }
    &.right {
        right: 0px;
        &::before {
            transform: translate(-50%, -50%) rotate(220deg);
        }
    }
    &.is_active {
        opacity: 0.5;
    }
// .c_header__arrow {
//     height: 18px;
//     width: 18px;
//     position: absolute;
//     right: 26px;
//     top: 6px;
//     border-radius: 50px;
//     background-color: #e6e6e6;
//     text-align: center;
//     &:hover {
//         cursor: pointer;
//     }
//     // &::before, &::after {
//     //     content: "";
//     //     display: block;
//     //     width: 10px;
//     //     height: 3px;
//     //     border-radius: 50px;
//     //     position: absolute;
//     //     background-color: currentColor;
//     // }
//     // &::before {
//     //     // display: inline-block;
//     //     // transform: rotate(45deg);
//     //     // border: solid currentColor;
//     //     // border-width: 0 0 2px 2px;
//     //     // padding: 3px;
//     //     // top: 50%;
//     //     // right: 50%;
//     //     // width: 40%;
//     //     // height: 40%;
//     //     transform: rotate(45deg) translateY(-50%);
//     // }
//     // &::after {
//     //     transform: rotate(-45deg);
//     // }
//     &::before {
//         content: "";
//         display: inline-block;
//         transform: rotate(45deg);
//         border: solid currentColor;
//         border-width: 0 0 2px 2px;
//         padding: 3px;
//         top: 50%;
//         right: 50%;
//         width: 40%;
//         height: 40%;
//     }
}

@media screen and (max-width: 979px) {
.gameScore-warp {
    margin: 0px;
    border: 0;
    background: transparent;
    .tabs {
            position: fixed;
            bottom: 50px;
            z-index: 66;
            background: #f2f2f2;
            ul {
                color: #4d4d4d;
                background: #f2f2f2;
                width: 100vw;
                box-shadow: 0px -1px 5px #9d9d9d;
                padding: 0px;
                height: auto;
            }
            li {
                text-align: center;
                display: inline-block;
                padding: 12px 20px;
                cursor: pointer;
                border-bottom: 1px solid #9d9d9d;
                margin-bottom: 5px;
                &.is_active {
                    color: #4d4d4d;
                    padding: 11px 20px;
                    border-bottom: 3px solid #b5b09a;
                }
            }
            .table {
                width: auto !important;
                .col {
                    border-top: 1px solid #d7d7d7;
                    &:first-of-type {
                        border-left: 1px solid #d7d7d7;
                    }
                }
            }
            > div > div {
                padding: 0 10px;
            }
        }
    }
}