// ************************************************************
// view history
// ************************************************************

@import '~@CSS/main';

@import '~@CSS/Layout/gr_history';
