// ************************************************************
// view news-events
// ************************************************************

@import '~@CSS/main';

@import '~@CSS/Layout/gr_news-events';
