// ************************************************************
// view page
// ************************************************************

@import '~@CSS/Layout/page/gr_page';
@import '~@CSS/Layout/page/gr_page-detail';
@import '~@CSS/Layout/page/gr_pagination';
