// ************************************************************
// view score-board
// ************************************************************

@import '~@CSS/main';

@import '~@CSS/Layout/gr_score-board';
