// ************************************************************
// gr_grid-vn-tooltip
// ************************************************************

@media screen and (min-width: 980px) {
    .gr_grid-vn-tooltip {
        @include box_shadow(0px 0px 3px shadow_color(default));
        background-color: rgba(234, 231, 218, 1);
        color: darken(text_color(weak), 30%);
        border-radius: 5px;
        font-size: 12px;
        padding: 2px 10px;
        position: absolute;
        transition: all 0.2s ease;
        opacity: 1;
        // visibility: hidden;
        z-index: 5;
        &::before {
            @include triangle(rgba(153, 153, 153, 0.6), left, 6px);
            top: 50%;
            right: calc(100% - 1px);
            transform: translateX(-1px) translateY(-50%);
        }
        &::after {
            @include triangle(rgba(234, 231, 218, 1), left, 6px);
            top: 50%;
            right: calc(100% - 1px);
            transform: translateX(1px) translateY(-50%);
        }
    }

    .gr_grid-vn-tooltip--sp {
        padding: 10px;
        line-height: 2em;
        &::before {
            top: 37px;
            transform: translateX(-1px);
        }
        &::after {
            top: 37px;
            transform: translateX(1px);
        }
    }
}
