// ************************************************************
// gr_city-table
// ************************************************************

.gr_city-table {
    border: 1px solid border_color(dark);
    font-size: 0;
    line-height: 0;
    text-align: center;
    margin-bottom: 10px;
}

.gr_city-table__list {
    display: inline-block;
    vertical-align: top;
    font-size: $font_size_small;
    width: calc(100%/7 - 0.1px);
    &:first-child {
        // background-color: #ddf2e5;
    }
    & + .gr_city-table__list {
        border-left: 1px solid border_color(dark);
    }
    & .gr_list__item {
        display: block;
        min-height: 23px;
        line-height: 20px;
        text-align: left;
        & label {
            float: left;
            width: 100%;
            height: 100%;
            padding-left: 10px;
            &:hover {
                cursor: pointer;
            }
        }
        & input, & .gr_item__text {
            vertical-align: middle;
        }
        &:first-child {
            background-color: #666666;
            color: #ffffff;
        }
        & + .gr_list__item {       
            border-top: 1px solid border_color(dark);
        }
        &.is_checked {
            background-color: #FFE594;
        }
    }
}
// 輸入版
.gr_city-tableSingle {
    .gr_city-table__list:first-child {
        background-color: transparent;
    }
    .gr_list__item {
        label {
            padding-left: 0;
            > span {
                padding-left: 10px;
                display: block;
                width: 100%;
                min-height: 22px;
                &.is_checked {
                    background-color: #FFE594;
                }
            }
        }
    }
}
@media screen and (max-width: 979px) {
    .gr_city-tableSingle {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        margin-bottom: 0px;
        border: 1px solid gray;
        .gr_city-tableSingle__wrap {
            min-width: 980px;
            display: block;
            float: left;
            height: auto;
        }
        .gr_list__item {
            min-height: 31px;
            min-height: 30px;
            text-align: center;
            label {
                > span {
                    padding: 0px;
                    min-height: 29px;
                    line-height: 28px;
                }
            }
        }
    }
}
