// ************************************************************
// gr_grid-vn-card
// ************************************************************

.gr_grid-vn-card {
    border: 1px solid border_color(dark);
    display: inline-block;
    font-size: 0;
    line-height: 0;
    margin-bottom: 10px;
    text-align: center;
    width: calc(100% / 3 - 0.1px);
    &:nth-of-type(3n+2) {
        border-left: none;
        border-right: none;
    }
    &:last-of-type {
        border-right: 1px solid border_color(dark);
    }
}
.gr_grid-vn-card__header {
    background: backgrounds(secondary);
    border-bottom: 1px solid border_color(dark);
    font-size: $font_size_small;
    height: 33px;
    line-height: 33px;
}
.gr_grid-vn-card__content {
    height: 33px;
    line-height: 33px;
    & .c_input__inner {
        &.is_active,
        &:focus {
            // border-color: red;
        }
    }
}
