// ************************************************************
// gr_game-vn-controller
// ************************************************************

.gr_game-vn-controller {
    
    & .c_slider__input .c_input__inner {
        height: 30px;
    }
    & .gr_game-controller__row{
        & *{
            display: inline-block;   
        }
        & .gr_game-controller__total {

        }
        & .gr_game-controller__button-group {
            text-align: right;
            margin-left: 10px;
            & button {
                min-width: 81px \9;
                &::before {
                    content: '';
                    display: block \9;
                    min-width: 81px;
                }
            }
        }
    }
    & .c_input__inner{
        padding: 9px 10px;
        margin-top: -1px;
    }
    & .c_button--secondary {
        min-width: 90px;
    }
    & .gr_game-controller__row{
        text-align: right;
        float: right;
    }
    
    & .gr_game-controller__inner {
        line-height: 44px;
        padding: 20px 10px;
        display: block;
        float: left;
        width: 100%;
        & > div {
            display: inline-block;
            vertical-align: middle;
            & + div {
                margin-left: 12px;
            }
        }
    }
    
}


