// ************************************************************
// gr_grid-vn-panel
// ************************************************************

@media screen and (min-width: 980px) {
    .gr_grid-vn-panel {
        @include size(114px, 77px);
        background: rgba(#4d4d4d, 0.95);
        border: 1px solid rgba(#333333, 0.95);
        border-radius: border_radius(large);
        box-shadow: 3px 3px 3px shadow_color(light);
        color: text_color(default_invert);
        line-height: 24px;
        opacity: 0;
        position: absolute;
        text-align: center;
        transition: all 0.3s ease;
        visibility: hidden;
        z-index: -1;
        & .gr_grid-vn-panel__list {
            cursor: pointer;
            display: inline-block;
            font-size: $font_size_small;
            line-height: 24px;
            width: 50%;
            &:nth-of-type(2n) {
                border-left: 1px solid border_color(dark);
            }
            &:nth-of-type(n+1) {
                border-top: 1px solid border_color(dark);
            }
        }
        &.is_active {
            opacity: 1;
            visibility: visible;
            z-index: 5;
        }
    }
}
