// ************************************************************
// gr_header
// ************************************************************

@media screen and (max-width: 979px) {
    .gr_header__game-menu--black {
        background: #333
    }

}


