// ************************************************************
// gr_fast-game-order
// ************************************************************

.gr_fast-game-order {
    border: 1px solid border_color(dark);
}

.gr_fast-game-order__header {
    background: #666666;
    color: #ffffff;
    cursor: pointer;
    line-height: 23px;
    position: relative;
    text-align: center;
    .gr_header__arrow {
        @include size(16px);
        border:1px solid #ffffff;
        border-radius: border_radius(rounded);
        cursor: inherit;
        position: absolute;
        top: calc(50% - 8px);
        right: 18px;
        &::before {
            @include pseudo;
            border: solid #ffffff;
            border-width: 0 0 1px 1px;
            padding: 3px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -65%) rotate(-45deg);
            transition: all 0.3s ease;
        }
    }
    &.is_active {
        & .gr_header__arrow::before {
            transform: translate(-50%, -35%) rotate(135deg);
        }
        & ~ .gr_fast-game-order__content {
            @extend %shadow_linear_gradient_default_inset;
            max-height: 256px;
            opacity: 1;
            padding: 8px 11px;
            visibility: visible;
        }
    }
}

.gr_fast-game-order__content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    padding: 0 11px;
    visibility: hidden;
    & .gr_fast-game-order__item {
        font-size: $font_size;
        margin: 10px 21px;
        @include multi-lang {
            margin: 8px 6.5px;
        }
    }
}

@media screen and (max-width: 979px) {
    .gr_fast-game-order {
        border: none;
        font-size: 16px;
        margin: 5px 2%;
    }

    .gr_fast-game-order__header {
        border-radius: 25px;
        margin: 5px 0;
        padding: 8px 0;
        &::before {
            content: '';
            position: absolute;
            right: 0;
            top: 15%;
            border-left: 1px solid #cccccc;
            height: 70%;
            width: 35px;
        }
        & .gr_header__arrow {
            border: none;
            right: 12px;
        }
        &.is_active {
            & ~ .gr_fast-game-order__content {
                max-height: 858px;
            }
        }
    }

    .gr_fast-game-order__content {
        background: #fff;
        border-radius: 10px;
        border: 1px solid gray;
        & .gr_fast-game-order__item {
            margin: 8px 5.5px;
            @include multi-lang {
                margin: 8px 10.5px;
            }
        }
    }
}

