// ************************************************************
// gr_game-my-classic
// ************************************************************
@keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {transform: scale(0.9, 0.9);}
    20% {transform: scale(1.2, 1.2);}
    40% {transform: scale(0.95, 0.95);}
    60% {transform: scale(1.05, 1.05);}
    80% {transform: scale(0.98, 0.98);}
    to {transform: scale(1, 1);}
}
$bor-color: #808080;
.gr_game-my-classic {
    padding: 5px 20px 5px;
    .gr_old-tab {
        position: relative;
        bottom: -1px;
        .gr_old-tab--item {
            position: relative;
            display: inline-block;
            width: calc(100% / 10);
            text-align: center;
            border: 1px solid $bor-color;
            background-color: #d7d7d7;
            padding: 10px 5px;
            cursor: pointer;
            &:not(:last-of-type) {
                border-right-width: 0px;
            }
            span {
                position: absolute;
                background-color: #c1272d;
                color: #ffffff;
                min-width: 22px;
                padding: 3px;
                border-radius: 50px;
                right: 3px;
                top: -5px;
            }
            &.is_active {
                border-bottom-width: 0px;
                padding: 12px 5px;
                background-color: #f2f2f2;
                &:not(:last-of-type)::after {
                    content: '';
                    position: absolute;
                    right: -5px;
                    top: -1px;
                    width: 5px;
                    height: 100%;
                    z-index: 1;
                    background-image: linear-gradient(to right, #999999, transparent);
                }
            }
        }
    }
    .gr_old-container {
        border: 1px solid $bor-color;
        padding: 10px;
        .gr_old-num--item {
            position: relative;
            display: inline-block;
            width: calc(100% / 10 - 14px);
            text-align: center;
            background: #9f997d;
            padding: 1px;
            margin: 7px;
            box-sizing: border-box;
            border-radius: 5px;
            color: gray;
            cursor: pointer;
            span {
                background-color: #eeeeee;
                background-image: linear-gradient(#ffffff, #dddddd);
                width: 100%;
                height: 100%;
                display: block;
                padding: 3px;
                border-radius: 4px;
            }
            &:hover {
                @include animate(bounceIn, 0.75s);
            }
            &.is_active {
                background-color: #f5691c;
                background-image: linear-gradient(to bottom, #fa8337, #f15000);
                color: #ffffff;
                span {
                    background-image: linear-gradient(to bottom, #f15000, #fa8337);
                }
            }
        }
    }
    &.is_disabled {
        position: relative;
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background: rgba(242, 242, 242, 0.3);
            top: 0;
            left: 0;
            z-index: 2;
        }
    }
}
@media screen and (max-width: 979px) {
    .gr_game-my-classic {
        float: left;
        display: block;
        padding: 5px 5px 130px;
        width: 100%;
        .gr_old-tab {
            border-bottom: 1px solid #808080;
            padding-bottom: 5px;
            width: 640px;
            margin: 0px auto 10px auto;
            .gr_old-tab--item {
                width: calc(100% / 10);
                color: #666666;
                background-color: #cccccc;
                border-color: #808080;
                span {
                    min-width: 21px;
                    padding: 3px;
                    transform: scale(0.8);
                    transform-origin: right;
                    right: 1px;
                }
                &.is_active {
                    color: #ffffff;
                    background-color: #fbb03b;
                    padding: 10px 5px;
                    border-bottom-width: 1px;
                    &::after {
                        display: none;
                    }
                }
                &:not(:last-of-type) {
                    border-right-width: 0px;
                }
            }
        }
        .gr_old-container {
            padding: 0;
            border-width: 0px;
            width: 640px;
            margin: 0 auto;
            text-align: center;
            .gr_old-num--item {
                // width: calc(100% / 10 - 4px);
                width: 60px;
                padding: 1px;
                margin: 5px 2px;
                span {
                    padding: 6px;
                }
            }
        }
    }
}
@media screen and (max-width: 650px) {
    .gr_game-my-classic {
        .gr_old-tab {
            width: 300px;
            .gr_old-tab--item {
                width: calc(100% / 5);
                &:last-of-type {
                    border-right: 1px solid #808080;
                }
                &:not(:last-of-type) {
                    border-right-width: 0px;
                }
                &:nth-of-type(5) {
                    border-right-width: 1px;
                }
                &:nth-of-type(-n+5) {
                    border-bottom-width: 0px;
                }
            }
        }
        .gr_old-container {
            width: 300px;
            .gr_old-num--item {
                // width: calc(100% / 5 - 4px);
                width: 56px;
            }
        }
    }
}