// ************************************************************
// gr_game-th-submenu
// ************************************************************

.gr_game-th-submenu {
    padding: 15px 20px 0px;
    .gr_section__bar {
        &.is_disabled {
            position: relative;
            &::before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                background: rgba(242, 242, 242, 0.3);
                top: 0;
                left: 0;
                z-index: 3;
            }
            .gr_bagGroup__button {
                color: #a2a2a2;
                border-color: #a2a2a2;
            }
            .gr_bold__text {
                z-index: 4;
                position: relative;
            }
        }
        margin-bottom: 10px;
    }
    .el-checkbox {
        span.is_odds {
            color: #c1272d;
        }
        &.disable {
            color: rgb(188,188,188);
            .c_checkbox__inner {
                border-color: rgb(188,188,188);
                cursor: default;
            }
            span.is_odds {
                color: rgb(188,188,188);
            }
        }
    }
    [class*="c_input--"] {
        position: relative;
        width: 125px;
        i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        .i_funnel {
            left: 5px;
            &::after {
                content: '';
                position: absolute;
                display: block;
                border-right: 1px solid #d3d3d3;
                width: 1px;
                height: 100%;
                right: -5px;
            }
        }
        .c_input__inner {
            padding: 4px 8px 4px 30px;
        }
        .el-icon-circle-close {
            color: #9f9f9f;
            right: -1px;
            padding: 7px;
            cursor: pointer;
            &:hover {
                color: grey;
            }
        }
    }
    .gr_bagGroup__button {
        margin: 0;
        padding: 3px 10px;
        line-height: 10px;
        margin-left: 10px;
        color: #c1272d;
        border: 1px #c1272d solid;
        border-radius: 3px;
        cursor: pointer;
        &.is_active {
            background: #c1272d;
            color: #ffffff;
        }
    }
    .gr_bold {
        display: inline-block;
        div {
            display: inline-block;
            vertical-align: middle;
        }
        .gr_bold__btn {
            .gr_field__button {
                @include border(border_color(default));
                border-radius: border_radius(default);
                cursor: pointer;
                float: left;
                line-height: 20px;
                margin: 0 8px 0px 0;
                min-width: 50px;
                padding: 0 5px;
                position: relative;
                text-align: center;
                transition: all 0.3s ease;
                & .gr_button__text {
                    position: relative;
                    z-index: 2;
                }
                &::before,
                &::after {
                    @include pseudo;
                    @include size(100%);
                    border-radius: 2px;
                    top: 0;
                    left: 0;
                    transition: all 0.3s ease;
                }
                &::before {
                    @include background_gradient(ture, to bottom, lighten(backgrounds(default), 10%), backgrounds(default));
                    opacity: 1;
                }
                &::after {
                    @include background_gradient(ture, to bottom, backgrounds(default), lighten(backgrounds(default), 10%));
                    opacity: 0;
                }
                &.is_active,
                &.is_active:hover {
                    @include border(border_color(dark));
                    color: text_color(default_invert);
                    &::before {
                        @include background_gradient(ture, to bottom, darken(mix($color_secondary_heavy, $color_strong, 85%), 8%), lighten(mix($color_secondary_heavy, $color_strong, 85%), 15%));
                        box-shadow: 0 0 3px 0 shadow_color(light) inset;
                        opacity: 1;
                    }
                    &::after {
                        opacity: 0;
                    }
                }
                &:hover {
                    @include border(border_color(default));
                    &::before {
                        opacity: 0;
                    }
                    &::after {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 979px) {
    .gr_game-th-submenu {
        display: block;
        float: left;
        width: 100%;
        padding: 15px 10px 0px;
        .gr_section__bar {
            display: block;
            float: left;
            width: 100%;
            .el-checkbox {
                width: 50%;
                float: left;
                margin: 0;
                line-height: 30px;
                +.el-checkbox {
                    margin-left: 0;
                }
            }
            &:nth-of-type(2) {
                .c_input--big {
                    width: auto;
                    float: right;
                }
                .gr_bold {
                    width: 100%;
                    margin-top: 15px;
                    margin-bottom: -5px;
                    padding-bottom: 9px;
                    border-bottom: 1px solid #808080;
                    .gr_bold__text {
                        width: 35px;
                        vertical-align: top;
                        padding-top: 3px;
                        @include multi-lang {
                            width: 75px;
                        }
                    }
                    .gr_bold__btn {
                        width: calc(100% - 40px);
                        @include multi-lang {
                            width: calc(100% - 80px);
                        }
                        .gr_field__button {
                            min-width: 41px;
                            padding: 2px;
                            margin-bottom: 6px;
                            &:hover {
                                &::before {
                                    opacity: 1;
                                }
                                &::after {
                                    opacity: 0;
                                }
                            }
                            &:active {
                                &::before {
                                    opacity: 0;
                                }
                                &::after {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}