.numeric-input {
  display: inline-block;
  background: #fff;
  width: 12em;
  height: 1.2em;
  padding: 2px;
  text-align: left;
}
.numeric-input.readonly,
.numeric-input.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.numeric-input div {
  position: relative;
  height: 100%;
}
.numeric-input span {
  float: left;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
.numeric-input i {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  animation: numeric-input-cursor 1s infinite;
}
.numeric-input-placeholder {
  color: #757575;
}
@-moz-keyframes numeric-input-cursor {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes numeric-input-cursor {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes numeric-input-cursor {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes numeric-input-cursor {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
