/*
@font-face {
  font-family: numeric-keyboard;
  src: url("../assets/numeric-keyboard.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
*/


.numeric-keyboard {
  width: 100%;
  height: 100%;
}
.numeric-keyboard table {
  width: 100%;
  height: 100%;
  background: #cfd4da;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 1px;
  font-size: 2em;
  text-align: center;
}
.numeric-keyboard td {
  touch-action: manipulation;
  transition: background-color 0.5s;
}
.numeric-keyboard td[data-icon]::before {
  content: attr(data-icon);
  font-family: inherit !important;
}
.numeric-keyboard td[data-icon=del]::before,
.numeric-keyboard td[data-icon=esc]::before {
  content: attr(data-icon);
  font-family: numeric-keyboard !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  -webkit-font-smoothing: antialiased;
}
