// ************************************************************
// s_image-path
// ************************************************************

$s_image-path: '~@IMG';

$s_image-path--cn: '~@IMG/lang_cn';

$s_image-path--us: '~@IMG/lang_us';
