// ************************************************************
// s_lottery-category
// ************************************************************

$s_lottery-category: (
    VN_5M: (
        212
    ),
    // VN_30S: (
    //     223
    // ),

    K3_SB: (
        205, // 世彩30秒骰宝
        206, // 世彩1分骰宝
        207, // 广西骰宝
        208, // 北京骰宝
        209, // 江苏骰宝
        210, // 安徽骰宝
        211, // 湖北骰宝
        240, // 世彩30秒魚蝦蟹
        241 // 江蘇魚蝦蟹
    ),
    STOCK: (
        245, // 日经股票
        246, // 台湾股票
        247, //韩国股票
        248, //中国深圳股票
        249, //香港恒生股票
        285, //泰证SET指数
    ),
    TH: (
        242, // 泰国彩
    ),
    TH_30S: (
        243, // 泰国5分彩
    ),
    // 百家樂
    PK10_BJL: (
        270, // 北京PK10百家乐
        271, // 世彩1分PK10百家乐
    ),
);





$s_lottery-category-path: 'c_lottery-category';
$s_lottery-class-prefix: 'c_lottery-class--';
$s_lottery-prefix: 'c_lottery--';
