// ************************************************************
// c_button
// ************************************************************

$btn_text_color: text_color(default_invert);

$btn_default_color: backgrounds(secondary_heavy);

$btn_primary_color: $color_primary;
$btn_primary_color_hover: lighten(mix($color_primary, $color_light_heavy, 36%), 6%);

$btn_secondary: $color_accent_heavy;

$btn_danger: $color_strong;

$btn_disabled_text_color: lighten(text_color(weak), 33%);
$btn_disabled_color: rgba(lighten($color_accent_heavy, 55%), 1);



[class*="c_button--"] {
    color: $btn_text_color;
    // usage => .c_button--default
    @include generate_button(--default, $btn_default_color, lighten($btn_default_color, 10%));
    // usage => .c_button--primary
    @include generate_button(--primary, $btn_primary_color, $btn_primary_color_hover);
    // usage => .c_button--secondary
    @include generate_button(--secondary, $btn_secondary, lighten($btn_secondary, 18%));
    // usage => .c_button--danger
    @include generate_button(--danger, $btn_danger, lighten($btn_danger, 18%));
    // usage => .c_button--disabled
    @include generate_button(--disabled, $btn_disabled_color, lighten($btn_disabled_color, 10%));
    &[class*="disabled"] {
        color: $btn_disabled_text_color;
        text-shadow: 0 0 1px darken($btn_disabled_text_color, 33%);
    }
}





[class*="c_button--"] {
    border-radius: 3px;
    border: none;
    cursor: pointer;
    display: inline-block;
    font: $font_size $font_family;
    line-height: 19px;
    margin: 0 0 3px;
    outline: none;
    overflow: visible;
    padding: 5px 7px;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    & .c_button__icon,
    & .c_button__text {
        position: relative;
        vertical-align: middle;
        z-index: 2;
    }
    & i {
        font-size: $font_size_small;
    }
    & + & {
        margin-left: 7px;
    }
    &::before,
    &::after {
        @include pseudo();
        @include size(100%);
        border-radius: inherit;
        top: 0;
        left: 0;
    }
    &::before {
        z-index: 1;
    }
    &::after {
        transform: translateY(2px);
    }
    &:active {
        transform: translateY(2px);
        &::after {
            transform: translateY(0);
        }
    }
    // usage => .c_button--large
    &[class*="--large"] {
        font-size: $font_size_large;
        line-height: 21px;
        padding: 8px 12px;
        min-width: 90px;
        & i {
            font-size: $font_size;
        }
        & + & {
            margin-left: 12px;
        }
    }
    // usage => .c_button--small
    &[class*="--small"] {
        font-size: $font_size_small;
        line-height: 17px;
        padding: 4px 6px;
        & + & {
            margin-left: 5px
        }
    }
    // usage => .c_button--long
    &[class*="--long"] {
        padding: 4px 6px;
        // width: 180px;
    }
    // usage => .c_button--full
    &[class*="--half"] {
        padding: 4px 6px;
        width: calc(50% - 3px);
        & + [class*="--half"] {
            margin-left: 6px;
        }
    }
    &[class*="--full"] {
        padding: 4px 6px;
        width: 100%;
    }    // usage => .btn_disabled
    &[class*="disabled"] {
        cursor: not-allowed;
        &:active {
            transform: translateY(0);
            &::after {
                transform: translateY(2px);
            }
        }
    }
}
