// ************************************************************
// c_checkbox
// ************************************************************

.c_checkbox {
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    outline: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    & .c_checkbox__inner {
        @include size(16px);
        border-radius: 4px;
        border: 1px solid #666666;
        box-sizing: border-box;
        color: #666666;
        display: inline-block;
        position: relative;
        transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),background-color .25s cubic-bezier(.71,-.46,.29,1.46);
        z-index: 1;
        &::after {
            @include pseudo;
            @include size(4px, 8px);
            border: 2px solid #fff;
            border-top: 0;
            border-left: 0;
            box-sizing: content-box;
            left: 5px;
            top: 1px;
            transform-origin: center;
            transform: rotate(45deg) scaleY(0);
            transition: transform .15s cubic-bezier(.71,-.46,.88,.6) .05s;
        }
    }
    &.is_checked .c_checkbox__inner {
        background: #666666;
        border: #666666;
        &::after {
            transform: rotate(45deg) scaleY(1);
        }
    }
    &.is_disabled {
        cursor: not-allowed;
        opacity: 0.25;
    }
    & input {
        @include size(0);
        margin: 0;
        opacity: 0;
        outline: 0;
        position: absolute;
        left: -9999px;
    }
}



.c_checkbox--light {
    & .c_checkbox__inner {
        border-color: #ffffff;
        color: #ffffff;
        &::after {
            border-color: #666666;
        }
    }
    &.is_checked .c_checkbox__inner {
        background: #ffffff;
        border: #ffffff;
    }
}
