.el-collapse {
	border: none;
}

.el-collapse-item__header {
	background-color: backgrounds(primary);
	border-bottom: 1px solid border_color(default);
	color: text_color(secondary);
	font-size: $font_size;
	height: auto;
	line-height: 24px;
	padding: 13px 32px 13px 12px;
    position: relative;
}

.el-collapse-item__header__arrow {
    color: #d3a671;
	font-size: $font_size_small;
    line-height: inherit;
	margin: 0;
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%) rotate(0deg);
}

.el-collapse-item__wrap {
	background-color:  backgrounds(default);
	border-bottom: 1px solid border_color(default);
    display: block !important;
    max-height: 0;
	overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}
.is-active .el-collapse-item__wrap {
    max-height: 800px;
    opacity: 1;
    visibility: visible;
}

.el-collapse-item {
    &:last-of-type .el-collapse-item__wrap,
    &:not(.is-active) .el-collapse-item__wrap {
        border: none;
    }
    &:last-child {
        margin-bottom: 0;
    }
    &.is-active > .el-collapse-item__header .el-collapse-item__header__arrow {
        transform: translateY(-50%) rotate(90deg);
    }
}
.el-collapse-item__content {
	font-size: $font_size;
	color: text_color(secondary);
	line-height: 24px;
    padding: 0;
    & .el-collapse-item__link {
        border-bottom: 1px solid border_color(default);
	    color: text_color(secondary);
        display: block;
	    padding: 13px 13px 13px 24px;
        position: relative;
        &:not(.el-collapse-item__link):hover {
            color: text_color(secondary);
        }
        &.router-link-active {
            color: #d3a671;
            &::after {
                @include pseudo;
                @include size(12px, 17px);
                background: url(~@IMG/icon/i_mark--dark.svg) center center no-repeat;
                top: -1px;
                right: 20px;
            }
        }
        @include multi-lang {
            padding-right: 0;
            padding-left: 20px;
        }
    }
    & .el-link__icon {
        vertical-align: middle;
    }
    & .el-collapse-item__link--disabled {
        color: lighten(text_color(secondary), 25%);
        cursor: not-allowed;
    }
    & div.is_active span {
        color: text_color(accent);
    }
    & > div:last-of-type {
        & a,
        & span {
            border: none;
        }
    }
}



.gr_nav-tabs .el-collapse-item__header {
    background: linear-gradient(to right, shadow_color(light) 0%, backgrounds(primary) 2%,backgrounds(primary) 100%);
    filter:none;
}
.gr_nav-tabs .el-collapse-item__wrap {
    background: linear-gradient(to right, shadow_color(light) 0%, backgrounds(default) 2%,backgrounds(default) 100%);
    filter:none;
}